<div class="row-fluid">
	
	<div class="span7 offset2", id="white_transparent">
		<h1 class="otto">Welcome to <h1 class="andes">D<span class="andes">esignbrite!</span></h1></h1>

		<br>
			<h3>Customize your <a href="http://www.eventbrite.com/myevents" target="_blank"><img src=<%= image_path("eventbrite_logo.png") %> style= "width: 125px"></a> pages.</h3>

		<h3> Sign Up/Sign In</h3>

		<h3> <a href="<%= new_design_path %>"> Create a New Design!</a></h3>
	</div>
</div>